#title{
    text-align: center;
    font-size: 300%;
}
#tribute-info{
    text-align: center;
    font-size:larger ;
}
#img-div{
    background-color: white;
    text-align: center;
    margin: auto;
}
#image{
    max-width:100%;
    display: block;
    height: auto;
    margin: 0 auto;
}
#img-caption{
 margin: 10px 0;   
}
h3{
    text-align: center;
    font-size: 150%;
}
ul{
    display: block;
    justify-content: center;
}
li{
    margin: 5px 1px;
    padding: 2px 1px;
}
#main{
    background-color: rgb(227, 227, 227);
}
#quote{
    text-align: center;
    font-style: italic; 
}
#extrainfo{
    text-align: center;
    font-weight: bold;
}